.container {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 0 1rem;
}

.wrapper-story {
  padding: 0;
  width: 100%;
  height: calc(100vh - 1rem);
}

.container-story {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 5rem 1rem;
}